@use 'styles/colors';

h2 {
   text-align: center;
   margin-top: 0;
   font-size: 2.5rem;
}

h3 {
   text-align: center;
   font-size: 1.75rem;
}

h4, .main-label {
   margin-top: 0;
   font-size: 1.75rem;
}

.main-label {
   margin: 1rem;
   margin-bottom: 3rem;

   .credits-info {
      font-weight: bold;
      margin-right: 1rem;
   }
}

.manage-button {
   float: right;

   .major-completion-data & {
      margin-top: 1rem;
   }
}

.major-completion-data {
   border: 2px solid colors.$primary-darker;
   border-radius: 1rem;
   padding: 1rem;
   margin-bottom: 3rem;
}

.completion-group, .specialization-group {
   margin-left: 1rem;
   border-left: 0.375rem solid colors.$primary-main;

   h5 {
      font-size: 1.5rem;
      margin-left: 0.5rem;
      margin-bottom: 0;
   }

   h6 {
      font-size: 1.25rem;
      margin-left: 0.5rem;
      margin-bottom: 0;
   }

   .credits-info {
      font-size: 1.1rem;
      font-weight: bold;
      margin: 0 1rem;
   }

   .completion-subjects, .specialization-subgroups, .completion-subjects {
      margin-top: 2rem;
   }
}

.completion-subject-container {
   display: grid;
   grid-template-columns: 3fr repeat(3, 1fr);
   gap: 1.5rem;
   align-items: center;
   padding-left: 1rem;
   transition: background-color 0.3s;

   &:has(button:hover) {
      background-color: colors.$primary-lighter-background;
   }

   p {
      font-size: 0.9rem;
   }
}

.mat-expansion-panel {
   background-color: colors.$background-color;
   border: 2px solid colors.$primary-darker;
   border-radius: 1rem;
   margin-bottom: 1rem;
   box-shadow: none !important;

   h5 {
      font-size: 1.5rem;
   }
}

::ng-deep .mat-expansion-indicator::after {
   color: colors.$primary-darker !important;
}

.specialization-group .specialization-subgroup-container {
   margin-left: 1.5rem;
   border-left: 0.375rem solid colors.$primary-lighter;
}

.all-complete {
   text-align: center;
}

.check-icon {
   position: relative;
   top: 0.3rem;
   color: colors.$success;
}
