<div class="menu-cards">
   @for(card of cards$ | async; track $index) {
   <div class="card-wrapper">
      <mat-card>
         <mat-card-header class="card-header">
            <mat-card-title-group>
               <mat-card-title>
                  <h3>{{ card.title | multiLanguage }}</h3>
               </mat-card-title>
               <img mat-card-md-image
                  class="card-image"
                  [src]="card.imageUrl" />
            </mat-card-title-group>
         </mat-card-header>
         @if(card.button) {
            <mat-card-actions>
               <apo-button apoRole="navigation"
                  (click)="openUrl(card.button.href)">{{ card.button.text | multiLanguage }}</apo-button>
            </mat-card-actions>
         }
         <mat-card-content>{{ card.description | multiLanguage }}</mat-card-content>
      </mat-card>
   </div>
   }
</div>
