@use 'styles/variables' as colors;

.menu-cards {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
}

.card-wrapper {
   flex: 1 1 20rem;
   
   mat-card {
      background-color: colors.$primary-background;
      width: 100%;
      height: 100%;
   }
}
