@use 'styles/variables' as colors;

mat-icon {
   position: relative;
   top: -0.15rem;
}

.error-icon {
   color: colors.$error;
}

.warning-icon {
   color: colors.$warning;
}

.check-icon {
   color: colors.$success;
}
