@use 'styles/variables';

mat-icon {
   position: relative;
   top: -0.15rem;
}

.error-icon {
   color: variables.$error-icon-color;
}

.warning-icon {
   color: variables.$warning-icon-color;
}

.check-icon {
   color: variables.$success-icon-color;
}
