@use 'styles/variables';

@mixin default-typography {
   font-family: 'Montserrat';
   color: variables.$font-color;
}

body {
   @include default-typography;

   *::selection {
      background-color: variables.$text-selection-color;
      color: variables.$font-color;
   }
}

a {
   color: variables.$link-color;
}

th, mat-header-cell {
   font-size: variables.$table-header-font-size;
   font-weight: bold !important;
   color: variables.$font-color;
}

.mat-mdc-select-panel .mdc-list-item__primary-text {
   color: variables.$font-color;
}

h2 {
   font-size: variables.$page-heading-font-size;
   text-align: center;
   margin-top: 0;
}

button {
   @include default-typography;
}
