:host {
   height: 100%;
   position: relative;
}

.actions {
   margin: 1rem 0;

   & > * {
      flex-basis: 20%;
   }
}

fieldset {
   margin: 1.5rem;

   legend {
      font-size: 1.5rem;
      font-weight: bold;
   }
}

.floating-button {
   position: absolute;
   top: -1.5rem;
   right: -1.5rem;
}

apo-multi-averages-displayer + apo-multi-averages-displayer {
   margin-top: 2rem;
}
