@if(isUserLoggedOut$ | async) {
   <button mat-fab class="floating-button"
      color="warn"
      (click)="onDeleteGuestData()">
      <mat-icon>delete</mat-icon>
   </button>
}
@if(averages()) {
   <apo-multi-averages-displayer
      [title]="'AVERAGES.DISPLAY.TITLE.CUMULATED' | transloco"
      [yearData]="averages()!"></apo-multi-averages-displayer>
   <div class="actions">
      @if(selectedYear()) {
         <button mat-raised-button
            color="primary"
            (click)="toggleViewMode()">{{ "AVERAGES.VIEW_MODE_TOGGLE_BUTTON." + (singleYearViewMode() ? "MULTIPLE" : "SINGLE") + "_LABEL" | transloco }}</button>
         <mat-form-field [class.invisible]="!singleYearViewMode()">
            <mat-label>{{ "AVERAGES.YEAR_SELECTION_LABEL" | transloco }}</mat-label>
            <mat-select [value]="selectedYear()" (valueChange)="selectYear($event)">
               @for(year of averages(); track $index) {
                  <mat-option [value]="year">{{ year.name }}</mat-option>
               }
            </mat-select>
         </mat-form-field>
      }
      <button mat-raised-button
         color="primary"
         [disabled]="averages()!.length === 0"
         (click)="manageGrades()">{{ "AVERAGES.MANAGE_GRADES_LABEL" | transloco }}</button>
   </div>
   <ng-container *ngLet="singleYearViewMode() ? [ selectedYear()! ] : averages() as years">
      @for(year of years; track -$index) {
         <apo-multi-averages-displayer
            [title]="year.name"
            [yearDisplay]="true"
            [yearData]="[ year ]"
            (setAlternatives)="openAlternativesDialog(year)"></apo-multi-averages-displayer>
      }
   </ng-container>
} @else {
   <!-- TODO: loading -->
}
