<h2>{{ "AVERAGES.TITLE" | transloco }}</h2>
@if(averages()) {
   @if((isUserLoggedOut$ | async) && averages()!.length > 0) {
      <apo-button class="floating-button"
         apoRole="delete"
         [isFab]="true"
         (click)="onDeleteGuestData()">delete</apo-button>
   }
   <apo-multi-averages-displayer
      [title]="'AVERAGES.DISPLAY.TITLE.CUMULATED' | transloco"
      [userMajor]="userMajor()"
      [yearData]="averages()!"></apo-multi-averages-displayer>
   <div class="actions">
      @if(selectedYear()) {
         <apo-button [apoRole]="undefined"
            (click)="toggleViewMode()">
            {{ "AVERAGES.VIEW_MODE_TOGGLE_BUTTON." + (singleYearViewMode() ? "MULTIPLE" : "SINGLE") + "_LABEL" | transloco }}
         </apo-button>
         <mat-form-field [class.invisible]="!singleYearViewMode()">
            <mat-label>{{ "AVERAGES.YEAR_SELECTION_LABEL" | transloco }}</mat-label>
            <mat-select [value]="selectedYear()" (valueChange)="selectYear($event)">
               @for(year of averages(); track $index) {
                  <mat-option [value]="year">{{ year.name }}</mat-option>
               }
            </mat-select>
         </mat-form-field>
      }
      <apo-button [disabled]="averages()!.length === 0"
         apoRole="openDialog"
         (click)="manageGrades()">{{ "AVERAGES.MANAGE_GRADES_LABEL" | transloco }}</apo-button>
   </div>
   <ng-container *ngLet="singleYearViewMode() ? [ selectedYear()! ] : averages() as years">
      @for(year of years; track -$index) {
         <apo-multi-averages-displayer
            [title]="year.name"
            [userMajor]="userMajor()"
            [yearDisplay]="true"
            [yearData]="[ year ]"
            (setAlternatives)="openAlternativesDialog(year)"></apo-multi-averages-displayer>
      }
   </ng-container>
} @else {
   <!-- TODO: loading -->
}
