<form class="user-settings-container settings-container" [formGroup]="userSettingsForm">
   <h2>{{ "PROFILE.SETTINGS.TITLE" | transloco }}</h2>
   <div class="settings-container row">
      <div class="settings-section">
         <div class="settings-section-header">
            <h3>{{ "PROFILE.SETTINGS.GENERAL_SETTINGS.TITLE" | transloco }}</h3>
            <p>{{ "PROFILE.SETTINGS.GENERAL_SETTINGS.DESCRIPTION" | transloco }}</p>
         </div>
         <mat-form-field class="setting">
            <mat-label>{{ "PROFILE.SETTINGS.USERNAME_LABEL" | transloco }}</mat-label>
            <input matInput formControlName="username">
         </mat-form-field>
         <apo-language-selection class="setting"
            (selectLanguage)="onSelectLanguage($event)"></apo-language-selection>
      </div>
      <div class="settings-section">
         <div class="settings-section-header">
            <h3>{{ "PROFILE.SETTINGS.STUDY_SETTINGS.TITLE" | transloco }}</h3>
            <p>{{ "PROFILE.SETTINGS.STUDY_SETTINGS.DESCRIPTION" | transloco }}</p>
         </div>
         <mat-form-field class="setting">
            <mat-label>{{ "PROFILE.SETTINGS.STUDY_SETTINGS.UNIVERSITY_LABEL" | transloco }}</mat-label>
            <mat-select formControlName="university"
               (valueChange)="onSelectUniversity($event)">
               <mat-option [value]="undefined">{{ "GENERAL_LABELS.NOT_SELECTED" | transloco }}</mat-option>
               @for(university of universities(); track $index) {
                  <mat-option [value]="university.id">{{ university.name | multiLanguage }}</mat-option>
               }
            </mat-select>
         </mat-form-field>
         <mat-form-field class="setting">
            <mat-label>{{ "PROFILE.SETTINGS.STUDY_SETTINGS.FACULTY_LABEL" | transloco }}</mat-label>
            <mat-select formControlName="faculty"
               [value]="selectedFaculty()"
               (valueChange)="onSelectFaculty($event)">
               <mat-option [value]="undefined">{{ "GENERAL_LABELS.NOT_SELECTED" | transloco }}</mat-option>
               @if(selectedUniversity()) {
                  @for(faculty of selectedUniversity()!.faculties; track $index) {
                     <mat-option [value]="faculty.id">{{ faculty | multiLanguage }}</mat-option>
                  }
               }
            </mat-select>
         </mat-form-field>
         <mat-form-field class="setting">
            <mat-label>{{ "PROFILE.SETTINGS.STUDY_SETTINGS.MAJOR_LABEL" | transloco }}</mat-label>
            <mat-select formControlName="major">
               <mat-option [value]="undefined">{{ "GENERAL_LABELS.NOT_SELECTED" | transloco }}</mat-option>
               @for(major of majors(); track $index) {
                  <mat-option [value]="major.id">{{ major.name }}</mat-option>
               }
            </mat-select>
         </mat-form-field>
      </div>
   </div>
   <div class="actions">
      <apo-button apoRole="cancel"
         class="logout-button"
         (click)="onLogout()">{{ "AUTH.LOGOUT_BUTTON_LABEL" | transloco }}</apo-button>
      <apo-button apoRole="save"
         class="save-button"
         (click)="onSave()">{{ "PROFILE.SETTINGS.SAVE_BUTTON_LABEL" | transloco }}</apo-button>
   </div>
</form>
