@use 'styles/variables';
@use 'styles/elements/section';

.settings-container {
   padding: 1rem;

   &.row {
      flex-direction: row;
      flex-wrap: wrap;
   }
}

.settings-section {
   @include section.borderless-section;
   width: 100%;
   margin-bottom: 2rem;

   .settings-section-header {
      display: flex;
      margin-bottom: 2rem;

      > * {
         margin: 0;
         flex-basis: 50%;
      }
      
      h3 {
         font-size: 2rem;
      }
   }

   .setting + .setting {
      margin-left: 1rem;
   }
}

.actions {
   justify-content: space-around;

   .logout-button {
      flex-basis: 20%;
   }

   .save-button {
      flex-basis: 40%;
   }
}

mat-form-field {
   margin-bottom: -1.25rem;
}
