<form class="user-settings-container settings-container" [formGroup]="userSettingsForm">
   <h2>{{ "PROFILE.SETTINGS.TITLE" | transloco }}</h2>
   <mat-form-field>
      <mat-label>{{ "PROFILE.SETTINGS.USERNAME_LABEL" | transloco }}</mat-label>
      <input matInput formControlName="username">
   </mat-form-field>
   <apo-language-selection (selectLanguage)="onSelectLanguage($event)"></apo-language-selection>
   <mat-expansion-panel>
      <mat-expansion-panel-header class="expansion-panel-title">
         <mat-panel-title>
            <h3>{{ "PROFILE.SETTINGS.STUDY_SETTINGS.TITLE" | transloco }}</h3>
         </mat-panel-title>
         <mat-panel-description>{{ "PROFILE.SETTINGS.STUDY_SETTINGS.DESCRIPTION" | transloco }}</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="settings-container row">
         <mat-form-field>
            <mat-label>{{ "PROFILE.SETTINGS.STUDY_SETTINGS.UNIVERSITY_LABEL" | transloco }}</mat-label>
            <mat-select formControlName="university"
               (valueChange)="onSelectUniversity($event)">
               <mat-option [value]="undefined">{{ "GENERAL_LABELS.NOT_SELECTED" | transloco }}</mat-option>
               @for(university of universities(); track $index) {
                  <mat-option [value]="university.id">{{ university.name | multiLanguage }}</mat-option>
               }
            </mat-select>
         </mat-form-field>
         <mat-form-field>
            <mat-label>{{ "PROFILE.SETTINGS.STUDY_SETTINGS.FACULTY_LABEL" | transloco }}</mat-label>
            <mat-select formControlName="faculty"
               [value]="selectedFaculty()"
               (valueChange)="onSelectFaculty($event)">
               <mat-option [value]="undefined">{{ "GENERAL_LABELS.NOT_SELECTED" | transloco }}</mat-option>
               @if(selectedUniversity()) {
                  @for(faculty of selectedUniversity()!.faculties; track $index) {
                     <mat-option [value]="faculty.id">{{ faculty | multiLanguage }}</mat-option>
                  }
               }
            </mat-select>
         </mat-form-field>
         <mat-form-field>
            <mat-label>{{ "PROFILE.SETTINGS.STUDY_SETTINGS.MAJOR_LABEL" | transloco }}</mat-label>
            <mat-select formControlName="major">
               <mat-option [value]="undefined">{{ "GENERAL_LABELS.NOT_SELECTED" | transloco }}</mat-option>
               @for(major of majors(); track $index) {
                  <mat-option [value]="major.id">{{ major.name }}</mat-option>
               }
            </mat-select>
         </mat-form-field>
      </div>
   </mat-expansion-panel>
   <div class="actions">
      <button mat-raised-button
         color="primary"
         (click)="onSave()">{{ "PROFILE.SETTINGS.SAVE_BUTTON_LABEL" | transloco }}</button>
   </div>
</form>
