@use 'styles/variables';
@use 'styles/elements/section';

.language-selection-container {
   @include section.section-border;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   padding: 0.5rem 1.5rem;
   border-radius: 1rem;
   background-color: variables.$section-background-color;

   p {
      display: inline-block;
      font-size: 1.25rem;
      font-weight: 550;
   }

   .selection {
      display: inline-block;
   }
}

.mat-mdc-standard-chip {
   &:not(.mdc-evolution-chip--selected) {
      background-color: transparent;
   }
}
