<div class="grade-editing-table-container">
   <div class="mat-mdc-table">
      <div class="input-table-header mat-mdc-table-row mat-mdc-header-cell">{{ titleKey | transloco }}</div>
   </div>
   <table mat-table [dataSource]="grades">
      <ng-container matColumnDef="name">
         <th mat-header-cell *matHeaderCellDef>{{ "COMPLETION_MANAGER_TABLE.HEADERS.NAME" | transloco }}</th>
         <td mat-cell *matCellDef="let idx = index">
            <input class="table-cell-input wide-column"
               [placeholder]="'COMPLETION_MANAGER_TABLE.NAME_INPUT_PLACEHOLDER' | transloco"
               [(ngModel)]="grades[idx].name">
         </td>
      </ng-container>
      <ng-container matColumnDef="code">
         <th mat-header-cell *matHeaderCellDef>{{ "COMPLETION_MANAGER_TABLE.HEADERS.CODE" | transloco }}</th>
         <td mat-cell *matCellDef="let idx = index">
            <input class="table-cell-input medium-column"
               [placeholder]="'COMPLETION_MANAGER_TABLE.CODE_INPUT_PLACEHOLDER' | transloco"
               [(ngModel)]="grades[idx].code">
         </td>
      </ng-container>
      <ng-container matColumnDef="rating">
         <th mat-header-cell *matHeaderCellDef>{{ "COMPLETION_MANAGER_TABLE.HEADERS.RATING" | transloco }}</th>
         <td mat-cell *matCellDef="let idx = index">
            <input class="table-cell-input"
               type="number"
               [(ngModel)]="grades[idx].rating">
         </td>
      </ng-container>
      <ng-container matColumnDef="credit">
         <th mat-header-cell *matHeaderCellDef>{{ "COMPLETION_MANAGER_TABLE.HEADERS.CREDIT" | transloco }}</th>
         <td mat-cell *matCellDef="let idx = index">
            <input class="table-cell-input"
               type="number"
               [(ngModel)]="grades[idx].credit">
         </td>
      </ng-container>
      <ng-container matColumnDef="remove">
         <th mat-header-cell *matHeaderCellDef></th>
         <td mat-cell *matCellDef="let idx = index">
            <button mat-flat-button
               color="warn"
               (click)="removeGrade(grades, idx)">{{ "INPUT_TABLE.REMOVE_BUTTON_LABEL" | transloco }}</button>
         </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
   <div class="mat-mdc-table">
      <div class="input-table-footer">
         <mat-select class="subject-select"
            (valueChange)="selectedSubject.set($event)"
            [placeholder]="'COMPLETION_MANAGER_TABLE.CUSTOM_SUBJECT_LABEL' | transloco">
            <mat-option [value]="null">{{ "COMPLETION_MANAGER_TABLE.CUSTOM_SUBJECT_LABEL" | transloco }}</mat-option>
            @for(subject of universitySubjects(); track $index) {
               <mat-option [value]="subject">{{ subject.name }} ({{ subject.code }})</mat-option>
            }
         </mat-select>
         <apo-button apoRole="add"
            (click)="addGrade(grades)">{{ "AVERAGES.DIALOGS.GRADE_ADD_LABEL" | transloco }}</apo-button>
         <apo-file-upload
            [parsers]="parsers()"
            (fileDataChange)="fileUpload($event, grades)"
            [confirmationDialogTableHeaderKeys]="confirmationDialogTableHeaderKeys"></apo-file-upload>
      </div>
   </div>
</div>
