@use 'styles/variables' as colors;
@use 'styles/elements/table-style' as *;

@include input-table;

table {
   width: 57rem;
}

.input-table-footer {
   justify-content: space-between;
   padding: 0 1rem;
}

.subject-select {
   max-width: 20rem;
   padding: 0.5rem;
   border-radius: 0.5rem;

   &:focus {
      outline: 2px solid colors.$primary-main;
   }
}
