@use 'styles/variables';

.admin-major-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;

   .title {
      text-align: center;
      margin: 0;
   }

   h2 {
      font-size: 2rem;
   }

   h3 {
      font-size: 1.25rem;
   }

   .actions {
      width: 100%;
      justify-content: space-around;

      apo-button {
         width: 20%;

         &.save-button {
            width: 60%;
         }

         &.add-button {
            width: 70%;
            margin-top: 1.5rem;
         }
      }
   }
}

.tabs {
   width: 100%;
}

.major-data-container {
   $data-container-height: 36rem;

   display: grid;
   grid-template-columns: 1fr 1fr;

   &.three-column {
      grid-template-columns: 1fr 1fr 1fr;

      .list-container:first-child .list-item {
         border-right: 1px solid variables.$border-color;
      }
   }

   .list-container {
      height: $data-container-height;
      overflow: auto;
      background-color: variables.$admin-sections-background;

      .list-item {
         padding: 0.5rem;
         border-bottom: 1px solid variables.$border-color;
         cursor: pointer;
         user-select: none;

         &:hover {
            background-color: variables.$admin-sections-background-hover;
         }

         &.selected {
            background-color: variables.$admin-list-selected-background;
            color: variables.$contrast-font-color;
         }
      }

      .file-upload {
         margin: 1rem;
      }

      .add-button {
         margin: auto;
      }

      .mat-expansion-panel {
         background-color: transparent;

         .mat-expansion-panel-header {
            $expansion-panel-header-height: 4rem;

            background-color: variables.$expansion-panel-header-color;
            height: $expansion-panel-header-height;
            
            h3 {
               $title-height: $expansion-panel-header-height - 1rem;

               height: $title-height;
               font-size: 1rem;
               line-height: calc($title-height / 2);
               overflow: hidden;
               text-overflow: ellipsis;
               display: -webkit-box;
               -webkit-box-orient: vertical;
               -webkit-line-clamp: 2;
            }

            mat-panel-title {
               height: $expansion-panel-header-height;
            }

            mat-panel-description {
               height: $expansion-panel-header-height;
               flex-grow: 0.6;
            }

            .major-group-description {
               font-size: 0.9rem;
            }
         }

         ::ng-deep .mat-expansion-panel-body {
            padding: 0;
         }
      }
   }

   .details-container {
      height: $data-container-height;
      overflow: auto;
      padding: 1.5rem;
      background-color: variables.$admin-sections-background;
      border: variables.$section-border;
      border-top: none;

      h3 {
         margin: 0 auto 1.5rem;
      }

      mat-form-field {
         width: 100%;
      }

      .scholarship-data-container {
         display: grid;
         grid-template-columns: 1fr 1fr;

         h3 {
            text-align: center;
         }

         .file-upload {
            margin-bottom: 1.5rem;
            display: block;
         }
      }

      .scholarship-table {
         th {
            border-bottom: variables.$table-border;
         }

         td, th {
            padding: 0.5rem;
            text-align: left;

            &:first-child {
               text-align: right;
               border-right: variables.$table-border;
            }
         }
      }

      .specialization-table {
         margin-top: 1.5rem;

         td, th {
            border-bottom: variables.$table-border;
            padding: 0.5rem;
            text-align: center;

            &.delete-button {
               background-color: variables.$warn-input-border-color;
               color: variables.$contrast-font-color;
               user-select: none;
               cursor: pointer;
            }
         }
      }

      .add-subject-container {
         border-radius: 1.5rem;
         margin-top: 0.5rem;
         padding: 1rem;
      }
   }
}

.no-data {
   display: flex;
   justify-content: center;
   align-items: center;

   p {
      font-size: 1.5rem;
   }
}

.divider {
   margin: 1.5rem 0;
}
