@use 'styles/variables';

.sidebar-container {
   background-color: variables.$menu-color;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;

   .time {
      padding: 1rem;
      font-size: 2rem;
      text-align: center;
   }
}
