@if(selectedSemester()) {
   <div class="timetable-container">
      <div class="semester-name">
         <h2 (click)="openTimetableSettings()">{{ selectedSemester()!.name }}</h2>
      </div>
      <div class="day-headers"
         [ngStyle]="additionalSelectedSemesterData.dayHeadersStyle()">
         @for(day of displayable.days(); track day) {
            <h3>{{ ("TIMETABLE.WEEK_DAY_" + day) | transloco }}</h3>
         }
      </div>
      <div class="hour-headers"
         [ngStyle]="additionalSelectedSemesterData.hourHeadersStyle()">
         @for(hour of displayable.hours(); track hour) {
            <h3>{{ hour }}</h3>
         }
      </div>
      <div class="timetable" #timetable>
         @if(timetableAreaSize$()) {
            @for(activity of selectedSemester()!.activities; track $index) {
               <apo-activity 
                  [activityData]="activity" 
                  [ngStyle]="(timetableAreaSize$() | async)! | activityStyle: activity: selectedSemester()!.categories">
               </apo-activity>
            }
         }
      </div>
      @if(isUserLoggedOut$ | async) {
         <apo-button class="floating-button"
            apoRole="delete"
            [isFab]="true"
            (click)="deleteGuestData()">delete</apo-button>
      }
   </div>
} @else {
   <p class="error">{{ "TIMETABLE.NO_SEMESTER" | transloco }}</p>
   <apo-button class="settings-button"
      apoRole="openDialog"
      (click)="openTimetableSettings()">{{ "TIMETABLE.SETTINGS.BUTTON" | transloco }}</apo-button>
}
