@use 'styles/variables';

.timetable-container {
   display: grid;
   grid-template-columns: 1fr 8fr;
   grid-template-rows: auto 1fr;
   width: 100%;
   height: 100%;
   text-align: center;
   background-color: transparent;
   overflow-y: auto;
   overflow-x: hidden;
   position: relative;
}

.semester-name {
   display: flex;
   justify-content: center;
   align-items: center;

   .timetable-settings-button {
      width: 100%;
      height: 100%;
      border-radius: 0;
      margin: 0;
      font-size: variables.$table-header-font-size;
   }
}

.day-headers {
   display: grid;

   h3 {
      border-left: 1px solid variables.$border-color;
      font-size: variables.$timetable-header-font-size;

      &:first-child {
         border-left: none;
      }
   }
}

.hour-headers {
   display: grid;
   height: 100%;

   h3 {
      border-top: 1px solid variables.$border-color;
      font-size: variables.$timetable-header-font-size;
      height: 7.5dvh;
      margin: 0;

      &:first-child {
         border-top: none;
      }
   }
}

.timetable {
   position: relative;
}

.settings-button {
   margin-top: 1rem;
}

.floating-button {
   position: absolute;
   top: 0;
   right: 0;
}
