$primary-main: #26A69A;
$primary-lighter: #80CBC4;
$primary-darker: #00796B;
$primary-background: #E0F2F1;
$primary-lighter-background: #f5fffd;

$primary-text: #140808;

$background-color: #FFF9C4;

$error: #800909;
$error-text: #340d0d;
