@use 'styles/colors';

@mixin inputTable {
   .input-table-header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 3.5rem;
      font-size: 2rem;
   }
   
   .input-table-footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 3.5rem;
      border-top-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
      border-top-width: var(--mat-table-row-item-outline-width, 1px);
      border-top-style: solid;
   }
   
   .table-cell-input {
      font-size: 1.2rem;
      width: 2rem;
      border: none;
      cursor: pointer;
      padding: 0.5rem;

      &.medium-column {
         font-size: 1rem;
         min-width: 7rem;
      }
   
      &.wide-column {
         font-size: 1rem;
         min-width: 15rem;
         width: 90%;
      }
   
      &:focus-visible {
         outline: 2px solid colors.$primary-main;
         border-radius: 0.5rem;
      }
   }
}
