<div class="file-upload-data-confirmation-dialog-container">
   <h2>{{ "FILE_UPLOAD_DIALOG.TITLE" | transloco }}</h2>
   <p>{{ "FILE_UPLOAD_DIALOG.DESCRIPTION" | transloco }}</p>
   <mat-table [dataSource]="data.data" class="content-table">
      @for(key of dataKeys; track $index) {
         <ng-container [matColumnDef]="key">
            <mat-header-cell *matHeaderCellDef>
               {{ data.columnNameKeys ? (data.columnNameKeys[$index] | transloco) : key }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element[key] }}</mat-cell>
         </ng-container>
      }

      <mat-header-row *matHeaderRowDef="dataKeys"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dataKeys"></mat-row>
   </mat-table>
   <div class="actions">
      <button mat-raised-button
         color="primary"
         (click)="accept()">{{ "GENERAL_DIALOG.ACCEPT" | transloco }}</button>
      <button mat-raised-button
         color="warn"
         (click)="reject()">{{ "FILE_UPLOAD_DIALOG.REJECT" | transloco }}</button>
   </div>
</div>
