.file-upload-data-confirmation-dialog-container {
   padding: 1rem;
   height: 90dvh;

   h2, p {
      text-align: center;
   }
}

.content-table {
   max-height: calc(100% - 11rem);
   overflow-y: auto;
}

.actions {
   padding: 1.5rem;
}
