$menu-color: #FFAD84;
$primary: #FFC47E;
$accent: #FFE382;
$accent-lighter: #FFF4CC;
$section-background-color: #FFFF99;
$background-color: #FFF9D9;
$highlight: #FF661A;

$warn: #CF4517;
$warn-background: #F5B8A3;

$font-color: #331200;
$contrast-font-color: #FFFFFF;
$link-color: #662400;
$alternative-font-color: #00796B;

$data-changed-signal-color: #FED68C;
$data-disabled-signal-color: #D5D5D5;
$data-bonus-signal-color: #A7FFA7;

$disabled: #707070;
$success: #228B22;
