@use 'styles/variables';
@use 'styles/elements/dialog';
@use 'styles/elements/section';

.scholarship-calculation-dialog-container {
   @include dialog.dialog-container(small);

   h3 {
      text-align: center;
   }
}

.scholarship-data-container {
   @include section.section-border;
   padding: 1rem;
   width: 32rem;

   p {
      margin: 0.5rem auto;
   }

   & + & {
      margin-top: 2rem;
   }
}

.alternative-data {
   display: inline-block;
   color: variables.$alternative-font-color;
   height: 1.25rem;

   mat-icon {
      height: 1rem;
      position: relative;
      top: -0.15rem;
   }
}

.actions {
   margin-top: 2rem;
}
