@use 'styles/variables';
@use 'styles/material-override';
@use 'styles/general';

html, body {
   height: 100%;
}

body {
   margin: 0;
   font-family: 'Montserrat';
   background-color: variables.$background-color;
   overflow: hidden;
}

* {
   box-sizing: border-box;
}

.invisible {
   visibility: hidden;
}

table thead {
   position: sticky;
   top: 0;
   z-index: 1;
}

.show-scrollbar {
   overflow-y: scroll !important;
}

table {
   border-collapse: collapse;
}
