@use 'styles/colors';

.admin-university-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;

   h2 {
      text-align: center;
      font-size: 2rem;
      margin-top: 0;
   }

   .actions {
      width: 100%;
      display: flex;
      justify-content: space-around;

      button {
         width: 20%;

         &.save-button {
            width: 60%;
         }
      }
   }
}

.tabs {
   width: 100%;
}

.university-data-container {
   display: grid;
   grid-template-columns: 1fr 1fr;

   .list-container {
      height:  37rem;
      overflow: auto;
      background-color: colors.$primary-background;

      .list-item {
         padding: 0.5rem;
         border-bottom: 1px solid colors.$primary-darker;
         cursor: pointer;
         user-select: none;

         &:hover {
            background-color: colors.$primary-darker-background;
         }

         &.selected {
            background-color: colors.$primary-darker;
            color: white;
         }
      }

      .file-upload {
         margin: 1rem;
      }
   }

   .details-container {
      padding: 1.5rem;
      background-color: colors.$primary-background;
      border: 2px solid colors.$primary-darker;
      border-top: none;
      box-sizing: border-box;

      &.no-data {
         display: flex;
         justify-content: center;
         align-items: center;

         p {
            font-size: 1.5rem;
         }
      }

      mat-form-field {
         width: 100%;
      }
   }
}
