@use 'styles/variables';

.admin-university-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;

   h2 {
      text-align: center;
      font-size: 2rem;
      margin-top: 0;
   }

   .actions {
      width: 100%;
      justify-content: space-around;

      &:not(.close-top-spacing) {
         margin-top: 2rem;
      }

      apo-button {
         flex-basis: 20%;

         &.wide-button {
            flex-basis: 60%;
         }
      }
   }
}

.tabs {
   width: 100%;
}

.university-data-container {
   display: grid;
   grid-template-columns: 1fr 1fr;

   .list-container {
      height: variables.$admin-page-tab-height;
      overflow: auto;
      background-color: variables.$admin-sections-background;

      .list-item {
         padding: 0.5rem;
         border-bottom: variables.$table-border;
         cursor: pointer;
         user-select: none;

         &:hover {
            background-color: variables.$admin-sections-background-hover;
         }

         &.selected {
            background-color: variables.$admin-list-selected-background;
            color: variables.$contrast-font-color;
         }
      }

      .file-upload {
         margin: 1rem;
      }
   }

   .details-container {
      height: variables.$admin-page-tab-height;
      overflow: auto;
      padding: 1.5rem;
      background-color: variables.$admin-sections-background;
      border: variables.$section-border;
      border-top: none;

      mat-form-field {
         width: 100%;
      }
   }
}

.no-data {
   display: flex;
   justify-content: center;
   align-items: center;

   p {
      font-size: 1.5rem;
   }
}
