<div class="admin-university-container" *ngIf="university() as university">
   <h2>{{ university.name | multiLanguage }}</h2>
   <div class="actions">
      <button mat-raised-button
         class="back-button"
         color="accent"
         (click)="back()">{{ "GENERAL_BUTTON_LABELS.BACK" | transloco }}</button>
      <button mat-raised-button
         color="primary"
         (click)="saveAll()">{{ "ADMINISTRATION.UNIVERSITY_DETAILS.SAVE_ALL_LABEL" | transloco }}</button>
   </div>
   <mat-tab-group class="tabs">
      <mat-tab [label]="'ADMINISTRATION.UNIVERSITY_DETAILS.SUBJECT_LIST_LABEL' | transloco">
         <div class="university-data-container">
            <div class="list-container">
               @if(universitySubjects()) {
                  @for(subject of universitySubjects(); track $index) {
                     <div class="list-item"
                        [class.selected]="selectedUniversitySubject() === subject"
                        (click)="selectSubject(subject)">{{ subject.name }} ({{ subject.code }})</div>
                  }
                  <apo-file-upload
                     class="file-upload"
                     [parserFn]="getSubjectsParserFn()"
                     (fileDataChange)="onSubjectsUpload($event)"></apo-file-upload>
               }
            </div>
            <div class="details-container"
               *ngLet="selectedUniversitySubject() as selectedSubject"
               [class.no-data]="!selectedSubject">
               @if(selectedSubject) {
                  <mat-form-field>
                     <mat-label>{{ "ADMINISTRATION.UNIVERSITY_DETAILS.SUBJECT_DETAILS.NAME_LABEL" | transloco }}</mat-label>
                     <input matInput
                        [(ngModel)]="selectedSubject.name">
                  </mat-form-field>
                  <mat-form-field>
                     <mat-label>{{ "ADMINISTRATION.UNIVERSITY_DETAILS.SUBJECT_DETAILS.CODE_LABEL" | transloco }}</mat-label>
                     <input matInput
                        [(ngModel)]="selectedSubject.code">
                  </mat-form-field>
                  <mat-form-field>
                     <mat-label>{{ "ADMINISTRATION.UNIVERSITY_DETAILS.SUBJECT_DETAILS.CREDIT_LABEL" | transloco }}</mat-label>
                     <input matInput
                        type="number"
                        [(ngModel)]="selectedSubject.credit">
                  </mat-form-field>
                  <mat-form-field>
                     <mat-label>{{ "ADMINISTRATION.UNIVERSITY_DETAILS.SUBJECT_DETAILS.LANGUAGE_LABEL" | transloco }}</mat-label>
                     <input matInput
                        [(ngModel)]="selectedSubject.language">
                  </mat-form-field>
                  <div class="checkbox-container">
                     <mat-checkbox [(ngModel)]="selectedSubject.isTalentManager">
                        {{ "ADMINISTRATION.UNIVERSITY_DETAILS.SUBJECT_DETAILS.TALENT_MANAGER_LABEL" | transloco }}
                     </mat-checkbox>
                  </div>
                  <div class="actions">
                     <button mat-raised-button
                        color="warn"
                        (click)="deleteSubject(selectedSubject)">{{ "GENERAL_BUTTON_LABELS.DELETE" | transloco }}</button>
                     <button mat-raised-button
                        class="save-button"
                        color="primary"
                        (click)="saveSubject(selectedSubject)">{{ "GENERAL_BUTTON_LABELS.SAVE" | transloco }}</button>
                  </div>
               } @else {
                  <p>{{ "ADMINISTRATION.UNIVERSITY_DETAILS.SUBJECT_DETAILS.NO_DATA" | transloco }}</p>
               }
            </div>
         </div>
      </mat-tab>
      <mat-tab [label]="'ADMINISTRATION.UNIVERSITY_DETAILS.MAJOR_LIST_LABEL' | transloco">
         <div class="university-data-container"
            *ngLet="selectedUniversityMajor() as selectedMajor">
            <div class="list-container">
               @if(universityMajors()) {
                  @for(major of universityMajors(); track $index) {
                     <div class="list-item"
                        [class.selected]="selectedUniversityMajor() === major"
                        (click)="selectMajor(major)">{{ major.name }}</div>
                  }
                  <div class="actions">
                     <button mat-raised-button
                        class="add-button"
                        color="accent"
                        (click)="addMajor()">{{ "ADMINISTRATION.UNIVERSITY_DETAILS.MAJOR_DETAILS.ADD_BUTTON_LABEL" | transloco }}</button>
                  </div>
               }
            </div>
            <div class="details-container"
               [class.no-data]="!selectedMajor">
               @if(selectedMajor) {
                  <mat-form-field>
                     <mat-label>{{ "ADMINISTRATION.UNIVERSITY_DETAILS.MAJOR_DETAILS.NAME_LABEL" | transloco }}</mat-label>
                     <input matInput
                        [(ngModel)]="selectedMajor.name">
                  </mat-form-field>
                  <mat-form-field>
                     <mat-label>{{ "ADMINISTRATION.UNIVERSITY_DETAILS.MAJOR_DETAILS.FACULTY_LABEL" | transloco }}</mat-label>
                     <mat-select [(ngModel)]="selectedMajor.facultyId">
                        <mat-option [value]="-1">{{ "GENERAL_LABELS.NOT_SELECTED" | transloco }}</mat-option>
                        @for(faculty of university.faculties; track $index) {
                           <mat-option [value]="faculty.id">{{ faculty | multiLanguage }}</mat-option>
                        }
                     </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                     <mat-label>{{ "ADMINISTRATION.UNIVERSITY_DETAILS.MAJOR_DETAILS.REQUIRED_CREDITS_LABEL" | transloco }}</mat-label>
                     <input matInput
                        type="number"
                        [(ngModel)]="selectedMajor.creditRequirement">
                  </mat-form-field>
                  <mat-form-field>
                     <mat-label>{{ "ADMINISTRATION.UNIVERSITY_DETAILS.MAJOR_DETAILS.STATE_SCHOLARSHIP_LABEL" | transloco }}</mat-label>
                     <input matInput
                        type="number"
                        [(ngModel)]="selectedMajor.stateScholarshipRequiredAverage">
                  </mat-form-field>
                  <div class="actions">
                     <button mat-raised-button
                        color="warn"
                        (click)="deleteMajor(selectedMajor)">{{ "GENERAL_BUTTON_LABELS.DELETE" | transloco }}</button>
                     <button mat-raised-button
                        class="save-button"
                        color="primary"
                        (click)="saveMajor(selectedMajor)">{{ "GENERAL_BUTTON_LABELS.SAVE" | transloco }}</button>
                  </div>
                  <div class="actions">
                     <button mat-raised-button
                        class="add-button"
                        color="accent"
                        (click)="openMajorDetails(selectedMajor)">{{ "ADMINISTRATION.UNIVERSITY_DETAILS.MAJOR_DETAILS.DETAILS_BUTTON_LABEL" | transloco }}</button>
                  </div>
               } @else {
                  <p>{{ "ADMINISTRATION.UNIVERSITY_DETAILS.MAJOR_DETAILS.NO_DATA" | transloco }}</p>
               }
            </div>
         </div>
      </mat-tab>
   </mat-tab-group>
</div>
