@use 'styles/variables';

.admin-university-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;

   h2 {
      text-align: center;
      font-size: 2rem;
      margin-top: 0;
   }

   .actions {
      width: 100%;
      justify-content: space-around;

      button {
         width: 20%;

         &.save-button {
            width: 60%;
         }

         &.add-button {
            width: 70%;
            margin-top: 1.5rem;
         }
      }
   }
}

.tabs {
   width: 100%;
}

.university-data-container {
   display: grid;
   grid-template-columns: 1fr 1fr;

   .list-container {
      height:  37rem;
      overflow: auto;
      background-color: variables.$primary-background;

      .list-item {
         padding: 0.5rem;
         border-bottom: variables.$table-border;
         cursor: pointer;
         user-select: none;

         &:hover {
            background-color: variables.$primary-darker-background;
         }

         &.selected {
            background-color: variables.$primary-darker;
            color: white;
         }
      }

      .file-upload {
         margin: 1rem;
      }
   }

   .details-container {
      height:  37rem;
      overflow: auto;
      padding: 1.5rem;
      background-color: variables.$primary-background;
      border: variables.$section-border;
      border-top: none;

      mat-form-field {
         width: 100%;
      }
   }
}

.no-data {
   display: flex;
   justify-content: center;
   align-items: center;

   p {
      font-size: 1.5rem;
   }
}
