@use 'styles/colors';

.faculty-creation-dialog-container {
   width: 50vw;
   background-color: colors.$primary-background;
   padding: 2.5rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   align-items: center;
}
