<div class="faculty-creation-dialog-container">
   <h2>{{ "ADMINISTRATION.UNIVERSITY.FACULTY_ADD_DIALOG.TITLE" | transloco: { universityName: universityName | multiLanguage } }}</h2>
   <p>{{ "ADMINISTRATION.UNIVERSITY.FACULTY_ADD_DIALOG.DESCRIPTION" | transloco }}</p>
   <form [formGroup]="form">
      @for(lang of availableLanguages; track $index) {
         <mat-form-field>
            <mat-label>{{ lang | languageLabelKey | transloco }}</mat-label>
            <input matInput [formControlName]="lang"
               (change)="clearErrors()">
         </mat-form-field>
         <br>
      }
   </form>
   <button mat-raised-button
      color="primary"
      (click)="save()">{{ "ADMINISTRATION.UNIVERSITY.FACULTY_ADD_DIALOG.SUBMIT_LABEL" | transloco }}</button>
</div>
