<div class="user-container" *ngLet="loggedInUser$ | async as user">
   @if(user) {
      <div class="user-informations">
         <apo-user-settings [user]="user"
            (saveChanges)="onSaveUserSettings($event)"
            (logout)="onLogout()"></apo-user-settings>
      </div>
   } @else {
      <div class="language-selection-wrapper">
         <apo-language-selection></apo-language-selection>
      </div>
      <h1>{{ "AUTH.TITLE" | transloco }}</h1>
      <div class="auth-tiles-container">
         <apo-login (login)="onLogin($event)"></apo-login>
         <apo-register (register)="onRegister($event)"></apo-register>
      </div>
   }
</div>
