@use 'styles/variables' as colors;

@mixin displayer-style {
   :host {
      display: block;
      margin: 1.5rem;
   }
   
   legend {
      font-size: 1.5rem;
      font-weight: bold;
   }
   
   p {
      height: 1.25rem;
   }
   
   .alternative-data {
      display: inline-block;
      color: colors.$alternative-font-color;
      height: 1.25rem;
   
      mat-icon {
         height: 1rem;
         position: relative;
         top: -0.15rem;
      }
   }
}
