@use 'styles/variables';
@use 'styles/elements/section';

@mixin displayer-style {
   :host {
      @include section.general-section;
      display: block;
   }
   
   p {
      height: 1.25rem;
   }
   
   .alternative-data {
      display: inline-block;
      color: variables.$alternative-font-color;
      height: 1.25rem;
   
      mat-icon {
         height: 1rem;
         position: relative;
         top: -0.15rem;
      }
   }
}
