@use 'styles/variables';

@mixin section-border {
   border: variables.$section-border;
   border-radius: 1.5rem;
}

@mixin general-section {
   @include section-border;
   padding: 2rem;

   h3 {
      font-size: variables.$section-heading-font-size;
      margin-top: 0;
      text-align: left;
   }
}
