@use 'styles/variables';

@mixin nav-button {
   background-color: variables.$header-color;
   height: variables.$header-height;
   font-size: 1.5rem;
   font-weight: bold;
   width: 15%;
   transition: background-color 0.3s ease-in-out;
   border-radius: 0;
   border: none;
   cursor: pointer;
   user-select: none;

   &.selected {
      background-color: variables.$selected-nav-button-color;
   }
}
