@use 'styles/elements/dialog';

.grade-manager-dialog-container {
   @include dialog.dialog-container(medium);
}

.semester-tables {
   overflow-y: auto;
   max-height: 29.75rem;
   margin: 2rem 0;
   padding-right: 0.5rem;
}

apo-grade-editing-table + apo-grade-editing-table {
   display: block;
   margin-top: 2rem;
}
