@use 'styles/variables' as colors;
@use 'styles/elements/dialog' as *;

.alternative-grades-dialog-container {
   @include dialog-container(medium);
}

.semester-tables {
   overflow-y: auto;
   max-height: 29.75rem;
   margin: 2rem 0;
   padding-right: 0.5rem;
}

apo-alternatives-editing-table + apo-alternatives-editing-table {
   display: block;
   margin-top: 2rem;
}
