<div class="alternative-grades-dialog-container">
   <h2>
      {{ "AVERAGES.ALTERNATIVE_GRADES_DIALOG.TITLE" | transloco }}
      <br>
      {{ data.yearName }}
   </h2>
   <div class="semester-tables">
      <apo-alternatives-editing-table
         titleKey="AVERAGES.YEAR_AVERAGES.FIRST_SEMESTER.LABEL"
         [originalGrades]="data.originalFirstSemesterGrades"
         [alternativeGrades]="alternativeFirstSemesterGrades"></apo-alternatives-editing-table>
      <apo-alternatives-editing-table
         titleKey="AVERAGES.YEAR_AVERAGES.SECOND_SEMESTER.LABEL"
         [originalGrades]="data.originalSecondSemesterGrades"
         [alternativeGrades]="alternativeSecondSemesterGrades"></apo-alternatives-editing-table>
   </div>
   <div class="actions">
   <apo-button apoRole="save"
      (click)="save()">{{ "GENERAL_BUTTON_LABELS.SAVE_AND_CLOSE" | transloco }}</apo-button>
   <apo-button apoRole="reset"
      (click)="reset()">{{ "AVERAGES.ALTERNATIVE_GRADES_DIALOG.RESET_LABEL" | transloco }}</apo-button>
   </div>
</div>
