@use 'styles/variables' as colors;

.alternative-grades-dialog-container {
   height: 80vh;
   background-color: colors.$primary-background;
   padding: 2.5rem;
   display: flex;
   flex-direction: column;
   align-items: center;

   h2 {
      text-align: center;
   }
}

.semester-tables {
   overflow-y: auto;
   max-height: 29.75rem;
   margin: 2rem 0;
   padding-right: 0.5rem;
}

apo-alternatives-editing-table + apo-alternatives-editing-table {
   display: block;
   margin-top: 2rem;
}
