@use 'styles/elements/dialog';

.alternative-grades-dialog-container {
   @include dialog.dialog-container(medium);
}

.semester-tables {
   overflow-y: auto;
   margin-bottom: 2rem;
   padding-right: 0.5rem;
}

apo-alternatives-editing-table + apo-alternatives-editing-table {
   display: block;
   margin-top: 2rem;
}
