@use 'styles/variables' as *;
@use 'styles/variables' as colors;

.content {
   display: flex;
   height: calc(100dvh - $header-height);
}

apo-sidebar {
   flex: 1;
}

main {
   flex: 4;
   padding: 2rem;
   overflow-y: auto;
   position: relative;

   .loading-message {
      color: colors.$primary-lighter;
   }
}
