@use 'styles/variables';

.content {
   display: flex;
   height: calc(100dvh - variables.$header-height);
}

apo-sidebar {
   flex: 1;
}

main {
   flex: 4;
   padding: 2rem;
   overflow-y: auto;
   position: relative;

   .loading-message {
      color: variables.$loading-message-color;
   }
}
