@use 'styles/variables' as colors;
@use 'styles/elements/dialog' as *;

.major-upload-confirmation-dialog-container {
   @include dialog-container(medium);
   overflow-y: auto;
}

.actions {
   justify-content: space-around;
   margin-top: 2rem;

   button {
      width: 33%;
   }
}

.mat-expansion-panel {
   background-color: transparent;
}

.mat-expansion-panel-header {
   height: fit-content !important;
   background-color: colors.$primary-lighter-background;
}

::ng-deep .mat-expansion-panel-body {
   padding: 0 !important;
}

.list-item {
   padding: 0.5rem;
   border-bottom: 1px solid colors.$primary-darker;
}
