@use 'styles/variables' as colors;
@use 'styles/elements/table-style' as *;
@use 'styles/elements/dialog' as *;

.completion-manager-dialog-container {
   @include dialog-container(large);

   ::ng-deep .mdc-evolution-chip-set__chips {
      align-items: center;
   }

   .sort-label {
      margin-right: 1rem;
   }
}

.displayed-years-container {
   overflow: hidden auto;
   max-height: 40rem;
   margin: 2rem 0;
   padding-right: 0.5rem;

   .completion-year-container {
      h3 {
         text-align: center;
      }
   
      & + .completion-year-container {
         margin-top: 2.5rem;
      }
   }
}

.completion-group-input-table-container {
   @include input-table;
   width: 57rem;
   
   & + .input-table-footer {
      justify-content: space-around;
      padding: 0 1rem;
   }
   
   .subject-select {
      max-width: 30rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
   
      &:focus {
         outline: 2px solid colors.$primary-main;
      }
   }
}
