@use 'styles/variables' as colors;
@use 'styles/elements/table-style' as *;

@include input-table;

.completion-manager-dialog-container {
   height: 100dvh;
   width: 70vw;
   background-color: colors.$primary-background;
   padding: 2.5rem;
   display: flex;
   flex-direction: column;
   align-items: center;

   h2 {
      margin-top: 0;
   }

   ::ng-deep .mdc-evolution-chip-set__chips {
      align-items: center;
   }

   .sort-label {
      margin-right: 1rem;
   }
}

.completion-year-container {
   h3 {
      text-align: center;
   }

   & + & {
      margin-top: 2rem;
   }
}

.displayed-years-container {
   overflow-y: auto;
   max-height: 40rem;
   margin: 2rem 0;
   padding-right: 0.5rem;
}

table {
   width: 57rem;
}

.input-table-footer {
   justify-content: space-around;
   padding: 0 1rem;
}

.subject-select {
   max-width: 30rem;
   padding: 0.5rem;
   border-radius: 0.5rem;

   &:focus {
      outline: 2px solid colors.$primary-main;
   }
}
