@use 'styles/variables';
@use 'styles/elements/displayer';

@include displayer.displayer-style;

.year-averages-container {
   display: flex;
   gap: 3rem;
   margin-top: 2rem;

   > * {
      flex: 1;
   }
}

.alternatives-button {
   float: right;
}

.weighted-average-container {
   position: relative;
   
   .state-scholarship-data-container {
      position: absolute;
      top: -2px;
      margin-left: 1rem;

      .alternative-arrow {
         position: relative;
         top: -0.15rem;
         color: variables.$alternative-font-color;
      }

      .no-data-icon {
         color: variables.$disabled;
      }
   }
}
