@use 'styles/colors';
@use 'styles/variables' as *;

.header-container {
   background-color: colors.$primary-main;
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: $header-height;
}

@mixin menu-button {
   height: $header-height;
   font-size: 1.5rem;
   width: 15%;
   transition: background-color 0.3s ease-in-out;
   border-radius: 0;

   &.selected {
      background-color: colors.$primary-darker;
   }
}

nav {
   display: flex;
   
   button {
      flex: 1;
      @include menu-button;
   }
}

.title-button {
   user-select: none;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;

   @include menu-button;

   h1 {
      margin: 0;
   }
}
