@use 'styles/variables';
@use 'styles/elements/special-buttons';

.header-container {
   background-color: variables.$header-color;
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: variables.$header-height;
}

nav {
   display: flex;
   
   button {
      flex: 1;
      @include special-buttons.nav-button;
   }
}

.title-button {
   user-select: none;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-right: 0.75rem;

   @include special-buttons.nav-button;
   width: auto;

   img {
      height: 100%;
   }

   h1 {
      margin: 0;
   }
}
