<div class="header-container" *ngLet="selectedMenu$ | async as selecteMenu">
   <div class="title-button"
      [class.selected]="selecteMenu === routeUrls.MENU"
      (click)="selectMenuItem(routeUrls.MENU)">
      <h1>Apollo</h1>
   </div>
   <nav>
      @for(menuItemKey of menuItemKeys$ | async; track $index) {
         <button [class.selected]="menuItemKey === selecteMenu"
            (click)="selectMenuItem(menuItemKey)">{{ routeUrlToTranslationKeyMap[menuItemKey] | transloco }}</button>
      }
   </nav>
   <apo-button apoRole="navigation"
      [isFab]="true"
      (click)="selectMenuItem(routeUrls.USER)">
      @if(isUserLoggedIn$ | async) {
         account_circle
      } @else {
         login
      }
   </apo-button>
</div>
