<div class="header-container">
   <h1 class="title-button" (click)="selectMenuItem('MENU')">Apollo</h1>
   <nav>
      @for(menuItemKey of menuItemKeys$ | async; track $index) {
         <button mat-button
            disableRipple
            [class.selected]="menuItemKey === selectedMenu()"
            (click)="selectMenuItem(menuItemKey)">{{ ('NAVIGATION.' + menuItemKey) | transloco }}</button>
      }
   </nav>
   <button mat-fab
      color="accent"
      (click)="selectMenuItem('USER')">
      <mat-icon class="profile-icon">
         @if(isUserLoggedIn$ | async) {
            account_circle
         } @else {
            login
         }
      </mat-icon>
   </button>
</div>
