<div>
   <h3>{{ title }}</h3>
   <p>
      {{ "AVERAGES.DISPLAY.WEIGHTED_AVERAGE" | transloco }}: {{ weightedAverage() | displayValue }}
      @if(alternativeWeightedAverage()) {
         <span class="alternative-data">
            <mat-icon>arrow_right_alt</mat-icon>
            {{ alternativeWeightedAverage() | displayValue }}
         </span>
      }
   </p>
   <p>
      {{ "AVERAGES.DISPLAY.CREDIT_SUM" | transloco }}: {{ creditSum() | displayValue }}
      @if(alternativeCreditSum()) {
         <span class="alternative-data">
            <mat-icon>arrow_right_alt</mat-icon>
            {{ alternativeCreditSum() | displayValue }}
         </span>
      }
   </p>
   <p>
      {{ "AVERAGES.DISPLAY.CREDIT_INDEX" | transloco }}: {{ creditIndex() | displayValue }}
      @if(alternativeCreditIndex()) {
         <span class="alternative-data">
            <mat-icon>arrow_right_alt</mat-icon>
            {{ alternativeCreditIndex() | displayValue }}
         </span>
      }
   </p>
   <p>
      {{ "AVERAGES.DISPLAY.ADJUSTED_CREDIT_INDEX" | transloco }}: {{ adjustedCreditIndex() | displayValue }}
      @if(alternativeAdjustedCreditIndex()) {
         <span class="alternative-data">
            <mat-icon>arrow_right_alt</mat-icon>
            {{ alternativeAdjustedCreditIndex() | displayValue }}
         </span>
      }
   </p>
   <apo-button apoRole="openDialog"
      [disabled]="!userMajor()"
      (click)="calculateScholarship()">{{ "AVERAGES.DISPLAY.CALCULATE_SCHOLARSHIP_LABEL" | transloco }}</apo-button>
</div>
